{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 100,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "singleAttributePerLine": true,
    "endOfLine": "auto"
}